version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend-app
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=production

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "80:80"
    depends_on:
      - backend
